**Itertools**

This module implements a number of iterator building blocks inspired by constructs from APL, Haskell, and SML. Each has been recast in a form suitable for Python.

The module standardizes a core set of fast, memory efficient tools that are useful by themselves or in combination. Together, they form an “iterator algebra” making it possible to construct specialized tools succinctly and efficiently in pure Python.

For instance, SML provides a tabulation tool: tabulate(f) which produces a sequence f(0), f(1), .... The same effect can be achieved in Python by combining map() and count() to form map(f, count()).

These tools and their built-in counterparts also work well with the high-speed functions in the operator module. For example, the multiplication operator can be mapped across two vectors to form an efficient dot-product: sum(map(operator.mul, vector1, vector2)).

In [12]:
import itertools

sequences = [10,10,20,30,40,50,60,70,80,90]

# Gettin the cicle of a sequence
cicle = itertools.cycle(sequences)

for x in range(9):
  print(next(cicle))

10
10
20
30
40
50
60
70
80

Creating a counter with itertools

In [13]:
counter = itertools.count(100,10)

for x in range(5):
  print(next(counter))

100
110
120
130
140

Getting the acumulator values

In [21]:
acumulator = itertools.accumulate(sequences)
list(acumulator)

[10, 20, 40, 70, 110, 160, 220, 290, 370, 460]

Merging lists of strings

In [20]:
list_str = itertools.chain("ABCD", "12345")
list(list_str)

['A', 'B', 'C', 'D', '1', '2', '3', '4', '5']

Getting or removing some values til a strict condition

In [47]:
def condition_take(val):
  return val <= 50

def condition_remove(val):
  return val < 50

In [48]:
sequences = [10,10,20,30,40,50,60,70,80,90]
print(list(itertools.dropwhile(condition_take, sequences)))

print(list(itertools.dropwhile(condition_remove, sequences)))

[60, 70, 80, 90]
[50, 60, 70, 80, 90]

[10, 10, 20, 30, 40, 50, 60, 70, 80, 90]