[**Lambda Expression**](https://docs.python.org/3/tutorial/controlflow.html)

Small anonymous functions can be created with the lambda keyword. This function returns the sum of its two arguments: lambda a, b: a+b. Lambda functions can be used wherever function objects are required. They are syntactically restricted to a single expression. Semantically, they are just syntactic sugar for a normal function definition. Like nested function definitions, lambda functions can reference variables from the containing scope:

In [10]:
list_numbers = [1,2,3,4,5,6,7,8,9]

print(list(map(lambda n: n**2, list_numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Working with args of a function**

In [7]:
def sum_args(*args):
  return sum(args)

print(sum_args(1,2,3,4,5))
print(sum_args(1,2,3))
print(sum_args(*[10,20,30]))

15
6
60

Working with functions and positional args

In [18]:
def show_args(arg1, arg2, *, delete=True):
  print(arg1,arg2,delete)

show_args(1,2,delete=True)

1 2 True

**[Collections](https://docs.python.org/3/library/collections.html?highlight=collections#module-collections)**

This module implements specialized container datatypes providing alternatives to Pythonâ€™s general purpose built-in containers, dict, list, set, and tuple.

**ChainMap**

dict-like class for creating a single view of multiple mappings

**UserDict**

wrapper around dictionary objects for easier dict subclassing

**UserList**

wrapper around list objects for easier list subclassing

**UserString**

wrapper around string objects for easier string subclassing

In [19]:
import collections

**namedtuple()**

factory function for creating tuple subclasses with named fields

In [29]:
coords = collections.namedtuple("Location", "lng  lat")

p1 = coords(1.0, 2.0)
p2 = coords(2.0, 3.0)

print(p1, p2)
print(p1.lng, p2.lat)

p2 = p2._replace(lng=1.0)
print(p1, p2)

Location(lng=1.0, lat=2.0) Location(lng=2.0, lat=3.0)
1.0 3.0
Location(lng=1.0, lat=2.0) Location(lng=1.0, lat=3.0)

**defaultdict**

dict subclass that calls a factory function to supply missing values

In [46]:
list_fruits = ["apple", "banana", "pineapple", "apple", "strawberry", "strawberry", "strawberry"]

# we can use lambda to personalize our data ex: lambda: 100
list_index_fruits = collections.defaultdict(int) 

for f in list_fruits:
  list_index_fruits[f] += 1

print(list_index_fruits)

defaultdict(<class 'int'>, {'apple': 2, 'banana': 1, 'pineapple': 1, 'strawberry': 3})

**Counter**

dict subclass for counting hashable objects

In [48]:
fruit_counts_counter = collections.Counter(list_fruits)

print("how many strawberries: ", fruit_counts_counter["strawberry"])
print("how many fruits: ", sum(fruit_counts_counter.values()))

how many strawberries:  3
how many fruits:  7

Adding more fruits!

In [49]:
fruit_counts_counter.update(["watermelon", "banana", "strawberry", "strawberry"])

print("how many strawberries: ", fruit_counts_counter["strawberry"])
print("how many fruits: ", sum(fruit_counts_counter.values()))

how many strawberries:  5
how many fruits:  11

In [57]:
print("the top 3 common fruits are: ", fruit_counts_counter.most_common(5))

the top 3 common fruits are:  [('strawberry', 3), ('apple', 2), ('pineapple', 1), ('watermelon', 1), ('banana', 0)]

Let's remove some fruits!

In [58]:
fruit_counts_counter.subtract(["banana", "strawberry"])

print("the top common fruits are: ", fruit_counts_counter.most_common())

the top common fruits are:  [('apple', 2), ('strawberry', 2), ('pineapple', 1), ('watermelon', 1), ('banana', -1)]

Let's compare two baskets of fruits to find the common fruits!

In [60]:
basket1 = collections.Counter(["banana", "strawberry", "orange"])
basket2 = collections.Counter(["pineapple", "strawberry", "orange", "watermelon"])

print(basket1 & basket2)

Counter({'strawberry': 1, 'orange': 1})

**OrderedDict**

dict subclass that remembers the order entries were added

In [73]:
list_cars = [("ferrari", (3, 3000)),("subaru", (5, 1500)),("bmw", (10, 2000))]
list_cars

[('ferrari', (3, 3000)), ('subaru', (5, 1500)), ('bmw', (10, 2000))]

In [74]:
ordered_cars = sorted(list_cars, key=lambda c: c[1][0], reverse=True)
ordered_cars

[('bmw', (10, 2000)), ('subaru', (5, 1500)), ('ferrari', (3, 3000))]

In [75]:
oderect_dict_cars = collections.OrderedDict(ordered_cars)
oderect_dict_cars

OrderedDict([('bmw', (10, 2000)),
             ('subaru', (5, 1500)),
             ('ferrari', (3, 3000))])

In [76]:
name, values = oderect_dict_cars.popitem(False) # false to remove the first item of the dict
print("Removing the top item car", name, values)

Removing the top item car bmw (10, 2000)

**deque**

list-like container with fast appends and pops on either end

In [88]:
import string
items_ascii = collections.deque(string.ascii_lowercase)

print([c for c in items_ascii])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [90]:
items_ascii.pop() #remove the right side
items_ascii.popleft() #remove the left side
items_ascii.append(10) #add item on the right side
items_ascii.appendleft(1) # add item on the left side
print([c for c in items_ascii])

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 10]