Make an iterator that returns elements from the first iterable until it is exhausted, then proceeds to the next iterable, until all of the iterables are exhausted. Used for treating consecutive sequences as a single sequence.

In [4]:
import itertools

a = [['a', 'b'], ['c', 'd'], ['e', 'f']]
b = list(itertools.chain.from_iterable(a))
print(b)

['a', 'b', 'c', 'd', 'e', 'f']

**Manipulating Lists**

Reverse a list of elements

In [5]:
a=['d','c','b','a']
print(a[::-1])

['a', 'b', 'c', 'd']

In [8]:
prime_numbers = ["a", "b", "c", "d"]
prime_numbers.reverse()
print(prime_numbers)

['d', 'c', 'b', 'a']

In [9]:
a="Hello world Python"
print("Reverse is", a[::-1])

Reverse is nohtyP dlrow olleH

Merging lists

In [10]:
a=["a", "b", "c", "d"]
b=["e", "f", "g", "h"]
for x, y in zip(a, b):
   print(x,y)

a e
b f
c g
d h

In [2]:
a = [1, 2, 3, 4] # list 1
b = [5, 6, 7, 8, 9] # list 2
a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a = [1, 2, 3, 4] # list 1
b = [5, 6, 7, 8, 9] # list 2
a.append(b)
print(a)

[1, 2, 3, 4, [5, 6, 7, 8, 9]]

Getting values of a negative index

In [11]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[-3:-1]

[8, 9]

Getting the value moda of a list

In [12]:
a = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4, 5, 6]
print(max(set(a), key = a.count))

4

Repeat the value in according of number of times desired

In [16]:
print("Hello "*2 + "world "*3 + "Python "*5)

Hello Hello world world world Python Python Python Python Python

Merging a string

In [17]:
hello = ["Hello","world","Python"]
print(" ".join(hello))

Hello world Python

Is it a anagram? paz = zap

In [19]:
from collections import Counter
def is_anagram(str1, str2):
  return Counter(str1) == Counter(str2)

print(is_anagram('paz', 'zap'))
print(is_anagram('hello', 'holla'))

True
False